---
import "./BlogPostSection.css"

const { name } = Astro.props

import { getCollection } from "astro:content"

const posts = await getCollection("blog")

const monthArr = [
	"Jan",
	"Feb",
	"Mar",
	"Apr",
	"May",
	"Jun",
	"Jul",
	"Aug",
	"Sep",
	"Oct",
	"Nov",
	"Dec",
]
---

<section class="blogPosts" id="BlogPosts">
	<div class="blogPostsContainer">
		<div class="blogCategoryContainer">
			<div class="blogCategoryHeading">Parallel Picks</div>
			<div class="blogCategories">
				<div class="blogCategory">
					<div class="categoryChip">Technology</div>
					<div class="categoryChip">Lifestyle</div>
					<div class="categoryChip">Food</div>
					<div class="categoryChip">Health Care</div>
					<div class="categoryChip">Electronics</div>
					<div class="categoryChip">Clothing</div>
				</div>
			</div>
		</div>
		<div class="blogPostsCardContainer">
			{
				posts.map((post) => {
					return (
						<a
							href={`/blog/${post.slug}`}
							class="blogPostCard"
							style="color: black;"
						>
							<article class="blogPostCardContent">
								<div class="blogPostTitle">{post.data.title}</div>
								<div class="blogPostDescription">{post.data.description}</div>
								<div class="contentMisc">
									{`${
										monthArr[post.data.date.getMonth()]
									}  ${post.data.date.getDate()}`}
									<span class="duration">{post.data.readtime}</span>
								</div>
							</article>
							<div class="blogPostImage">
								<img class="postImage" src={post.data.share.image} />
							</div>
						</a>
					)
				})
			}
		</div>
	</div>
</section>
