---
import "./BlogPostSection.css"

import { monthArr } from "../../API/monthApi"
import { getCollection } from "astro:content"

const { name, searchTerm } = Astro.props
const posts = await getCollection("blog")
---

<section class="blogPosts" id="BlogPosts">
	<div class="blogPostsContainer">
		<div class="blogCategoryContainer">
			<div class="blogCategoryHeading">Parallel Picks {searchTerm}</div>
			<div class="blogCategories">
				<div class="blogCategory">
					<a href="/search?search=Technology and gadgets" class="categoryChip"
						>Technology and gadgets</a
					>
					<a href="/search" class="categoryChip">Beauty and skincare</a>
					<a href="/search" class="categoryChip">Health and wellness</a>
					<a href="/search" class="categoryChip">Home improvement and DIY</a>
					<a href="/search" class="categoryChip">Fashion and style</a>
					<a href="/search" class="categoryChip">Food and cooking</a>
				</div>
			</div>
		</div>
		<template class="blogPostsCardContainer" data-blogposts={posts}>
			{
				posts.map((post) => {
					return (
						<a
							href={`/blog/${post.slug}`}
							class="blogPostCard"
							style="color: black;"
						>
							<article class="blogPostCardContent">
								<div class="blogPostTitle">{post.data.title}</div>
								<div class="blogPostDescription">{post.data.description}</div>
								<div class="contentMisc">
									{`${
										monthArr[post.data.date.getMonth()]
									} · ${post.data.date.getDate()}`}
									<span class="duration">{post.data.readtime}</span>
								</div>
							</article>
							<div class="blogPostImage">
								<img class="postImage" src={post.data.share.image} />
							</div>
						</a>
					)
				})
			}
		</template>
	</div>
	<script>
		// Get the query parameters from the current URL
		const queryParams = new URLSearchParams(window.location.search)
		const BlogPostContainer = document.querySelector(
			"[data-blogposts]"
		) as HTMLDivElement

		const blogPosts = BlogPostContainer.dataset.blogposts

		const searchTerm = queryParams.get("search")
		console.log("search", blogPosts)
	</script>
</section>
